<app-header />

<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
    <div class="mt-4 mb-4">
      <h3>Personal Information</h3>
    </div>

    <!-- <input type="text" hidden formControlName="id" /> -->

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="firstName">First Name *</label>
        <input
          required
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
        />
        <div
          *ngIf="
            editForm.get('firstName')?.invalid &&
            editForm.get('firstName')?.touched
          "
          class="text-danger"
        >
          First Name is required.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="middleName">Middle Name</label>
        <input
          type="text"
          class="form-control"
          id="middleName"
          formControlName="middleName"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="lastName">Last Name *</label>
        <input
          required
          type="text"
          class="form-control"
          id="lastname"
          formControlName="lastName"
        />
        <div
          *ngIf="
            editForm.get('lastName')?.invalid &&
            editForm.get('lastName')?.touched
          "
          class="text-danger"
        >
          Last Name is required.
        </div>
      </div>
    </div>

    <div class="mt-4 mb-4">
      <h3>Contact Information</h3>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="email">Email *</label>
        <input
          required
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="
            editForm.get('email')?.invalid && editForm.get('email')?.touched
          "
          class="text-danger"
        >
          Email is required.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="phoneNumber">Phone Number *</label>
        <input
          required
          type="text"
          maxlength="12"
          class="form-control"
          id="phoneNumber"
          formControlName="phoneNumber"
        />
        <div
          *ngIf="
            editForm.get('phoneNumber')?.invalid &&
            editForm.get('phoneNumber')?.touched
          "
          class="text-danger"
        >
          Phone number require 12 digits.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="dateOfBirth">Date of Birth *</label>
        <input
          required
          type="date"
          class="form-control"
          id="dateOfBirth"
          formControlName="dateOfBirth"
        />
        <div
          *ngIf="
            editForm.get('dateOfBirth')?.invalid &&
            editForm.get('dateOfBirth')?.touched
          "
          class="text-danger"
        >
          Date of Birth is required.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="gender">Gender *</label>
        <select
          required
          class="custom-select"
          id="gender"
          formControlName="gender"
        >
          <option value="" disabled selected>Choose...</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div
          *ngIf="
            editForm.get('gender')?.invalid && editForm.get('gender')?.touched
          "
          class="text-danger"
        >
          Gender is required.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="address">Address *</label>
        <input
          required
          type="text"
          class="form-control"
          id="address"
          formControlName="address"
        />
        <div
          *ngIf="
            editForm.get('address')?.invalid && editForm.get('address')?.touched
          "
          class="text-danger"
        >
          Address is required.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="zipCode">Zip Code *</label>
        <input
          required
          type="text"
          class="form-control"
          id="zipCode"
          formControlName="zipCode"
        />
        <div
          *ngIf="
            editForm.get('zipCode')?.invalid && editForm.get('zipCode')?.touched
          "
          class="text-danger"
        >
          Zip Code is required.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<app-footer />
